ul {
  align-items: flex-end;
  display: flex;
  gap: 10px;
  height: 100%;
  li {
    cursor: pointer;
    span {
      color: #414141;
      font-size: 14px;
      font-weight: 200;
      &.active {
        border-bottom: 2px solid #205071;
        padding-bottom: 3px;
      }
    }
  }
}
