<div class="dialog-box">
  <div class="dialog-header">
    <h3>
      <span>{{ title }}</span>
    </h3>
    <div class="tabs">
      <app-tab
        [tabList]="data.tab"
        [tabSelected]="tabSelected"
        (click)="onTabClick($event.target)"
      ></app-tab>
    </div>
  </div>

  <div class="dialog-content">
    <ng-container *ngTemplateOutlet="client"> </ng-container>
  </div>

  <div class="dialog-footer">
    <button type="submit" (click)="save()">
      <i class="material-icons">done</i>
      <span>guardar</span>
    </button>
    <button type="submit" (click)="close()">
      <span>cancelar</span>
    </button>
  </div>
</div>

<ng-template #client>
  <ng-container *ngTemplateOutlet="template"></ng-container>
  
</ng-template>

<ng-template #general>
  <form [formGroup]="data.form">
    <ul>
      <li *ngFor="let item of data.itemList.general" [ngClass]="item.name">
        <label>{{ item.title }}</label>
        <app-input
          *ngIf="item.type !== 'select'"
          [data]="item.type"
          [formControlName]="item.name"
        ></app-input>
        <app-select
          *ngIf="item.type === 'select'"
          [data]="item.type"
          [formControlName]="item.name"
        ></app-select>
      </li>
    </ul>
  </form>
</ng-template>

<ng-template #salesAndBilling>
  <form [formGroup]="data.form">
    <ul>
      <li *ngFor="let item of data.itemList.salesAndBilling.partOne" [ngClass]="item.name">
        <label>{{ item.title }}</label>
        <app-input
          *ngIf="item.type !== 'select'"
          [data]="item.type"
          [formControlName]="item.name"
        ></app-input>
        <app-select
          *ngIf="item.type === 'select'"
          [data]="item.type"
          [formControlName]="item.name"
        ></app-select>
      </li>
      <i class="material-icons">hdr_strong</i>
    </ul>
  </form>
</ng-template>
