<div id="client">
  <div class="client-header">
    <h2>
      {{ title | uppercase }}
    </h2>
    <div class="tabs">
      <ul>
        <li *ngFor="let tab of tabs">
          <span>{{ tab.title }} ({{ tab.count }})</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="client-btn">
    <div class="search">
      <i class="material-icons">search</i>
      <input type="search" placeholder="Buscar Cliente ..." />
    </div>
    <div class="client-add">
      <app-button [data]="btn_add" (click)="openDialog()"></app-button>
    </div>
  </div>
  <div class="client-table">table</div>
</div>

<ng-template #client>
  <div class="dialog-content">
    <form [formGroup]="clientForm">
      <ul>
        <li *ngFor="let item of itemList.general" [ngClass]="item.name">
          <label>{{ item.title }}</label>
          <app-input
            *ngIf="item.type !== 'select'"
            [data]="item.type"
            [formControlName]="item.name"
          ></app-input>
          <app-select
            *ngIf="item.type === 'select'"
            [data]="item.type"
            [formControlName]="item.name"
          ></app-select>
        </li>
        <div class="label-box">
          <label>Ventas</label>
          <i class="material-icons">info</i>
        </div>
        <li *ngFor="let item of itemList.sales" [ngClass]="item.name">
          <label>{{ item.title }}</label>
          <app-input
            *ngIf="item.type !== 'select'"
            [data]="item.type"
            [formControlName]="item.name"
          ></app-input>
          <app-select
            *ngIf="item.type === 'select'"
            [data]="item.type"
            [formControlName]="item.name"
          ></app-select>
        </li>
        <div class="label-box">
          <label>Facturación</label>
          <i class="material-icons">info</i>
        </div>
        <li *ngFor="let item of itemList.billing" [ngClass]="item.name">
          <label>{{ item.title }}</label>
          <app-input
            *ngIf="item.type !== 'select'"
            [data]="item.type"
            [formControlName]="item.name"
          ></app-input>
          <app-select
            *ngIf="item.type === 'select'"
            [data]="item.type"
            [formControlName]="item.name"
          ></app-select>
        </li>
      </ul>
    </form>
  </div>
</ng-template>
