@import "libs/mixins";

#client {
  display: grid;
  gap: 10px;
  padding: 25px 50px;
  .client-header {
    grid-column: 1 / -1;
    display: flex;
    h2 {
      font-size: 24px;
      font-weight: 600;
    }
    .client-add {
      @include box-shadow(0px, 0px, 20px, 0px, rgba(0, 0, 0, 0.25));
      margin-left: auto;
    }
  }
  .client-table {
    .mat-tab-header {
      border-bottom: none;
      .mat-tab-label {
        font-weight: 600;
        height: 40px;
        min-width: 0;
        padding: 10px 25px;
        &.mat-tab-label-active {
          @include box-shadow(0px, 0px, 20px, 0px, rgba(0, 0, 0, 0.25));
          background-color: #ffffff;
          border-bottom: none;
          opacity: 1;
        }
      }
      .mat-ink-bar {
        visibility: hidden !important;
      }
    }
    .mat-tab-body-wrapper {
      @include box-shadow(0px, 0px, 20px, 0px, rgba(0, 0, 0, 0.25));
      .mat-tab-body {
        background-color: #ffffff;
        padding: 0px 20px;
        .client-btn {
          align-items: center;
          background-color: #fff;
          display: grid;
          grid-template-columns: auto 1fr auto;
          gap: 20px;
          margin: 10px 0;
          .search {
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            display: flex;
            gap: 10px;
            padding: 5px 10px;
            input {
              border: none;
              width: 350px;
              &:focus {
                outline: none;
              }
            }
          }
          .import,
          .export {
            margin-left: auto;
            span {
              color: #00000050;
              cursor: pointer;
              font-size: 14px;
              font-weight: 600;
              text-transform: uppercase;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
}
@media screen and (max-width: 1023px) {
}
