<div id="client">
  <div class="client-header">
    <h2>
      {{ title | uppercase }}
    </h2>
    <div class="client-add">
      <app-button [data]="btn_add" (click)="openDialog()"></app-button>
    </div>
  </div>

  <div class="client-table">
    <mat-tab-group>
      <mat-tab *ngFor="let tab of clientTabs" [label]="tab.title">
        <div class="client-btn">
          <div class="search">
            <i class="material-icons">search</i>
            <input type="search" placeholder="Buscar Cliente ..." />
          </div>
          <div class="import">
            <span>importar</span>
          </div>
          <div class="export">
            <span>exportar</span>
          </div>
        </div>
        <ng-container [ngSwitch]="tab.name">
          <ng-container
            *ngSwitchCase="'active'"
            [ngTemplateOutlet]="active"
          ></ng-container>
          <ng-container
            *ngSwitchCase="'inactive'"
            [ngTemplateOutlet]="inactive"
          ></ng-container>
        </ng-container>
        <app-paginator
          *ngIf="this.totalDocs > 0"
          [totalDocs]="this.totalDocs"
          [limit]="this.limit"
          [totalPages]="this.totalPages"
          [page]="this.page"
          [pagingCounter]="this.pagingCounter"
          [hasPrevPage]="this.hasPrevPage"
          [hasNextPage]="this.hasNextPage"
          [prevPage]="this.prevPage"
          [nextPage]="this.nextPage"
        ></app-paginator>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #active>
  <div class="wrapper-table">
    <app-table [columns]="columns" [data]="this.docs"></app-table>
  </div>
</ng-template>

<ng-template #inactive></ng-template>

<ng-template #recycleBin></ng-template>
